html, body {
    margin:0;
    padding:0;
    scroll-behavior: smooth
}
body{
    background: #eee;
}
@font-face {
    font-family: Chillax;
    src: url(Chillax.ttf);
}
@font-face {
    font-family: Chillax-RU;
    src: url(Chillax-RU.ttf);
}
.wrapper{
    height: 100vh;
    margin: 10px;
    margin-top: 90px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #00000063;
    overflow: hidden;
    position: relative;
    min-height: -webkit-fill-available;
}
.head{
    padding: 0px 10px;
    background: #00000038;
    height: 100vh;
    position: relative;
        display: grid;
        grid-template-columns: repeat(50, 1fr);
        grid-template-rows: repeat(10, 1fr);
    overflow: hidden;
    min-height: -webkit-fill-available;
}
#video {
    width: 100vw;
    min-height: 100%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -15%);
    position: absolute;
    z-index: -1;
    min-height: -webkit-fill-available;
}
.head nav{
    top: 0px;
    left: 0px;
    width: 100%;
    background: #0000006b;
        display: inline-grid;
        grid-column:  1 / -1;
        grid-row: 1 / 1;
        justify-self: center;
        align-self: center;
        justify-content: center;
        grid-column-gap: 15px;
    position: fixed;
    z-index: 2;
}
.head img{
    width: 80px;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        justify-self: end;
        align-self: center;
}
.head nav ul{
    width: 100%;
    margin: 0px 20px;
    padding: 0px;
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        justify-self: center;
        align-self: center;
}
.head nav li{
    text-align: center;
    padding: 0px 20px;
    padding-bottom: 10px;
    display: inline;
    transition-delay: 0.2s;
    cursor: pointer;
}
.head nav a{
    font-size: 13px;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
.head nav li:hover{border-bottom: 1px solid #fff;transition-delay: 0.2s;}
.text-head-1{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: arial;
    font-weight: 600;
    text-align: center;
    font-size: 140px;
    line-height: 140px;
        justify-self: start;
        align-self: end;
        grid-column: 5 / 20;
        grid-row: 4 / 5;
}
.text-head-2{
    margin: 0px;
    padding: 0px;
    color: #fcb901;
    font-size: 160px;
    font-weight: 1000;
    line-height: 140px;
    text-align: center;
    font-family: sans-serif;
        justify-self: end;
        align-self: center;
        grid-column: 2 / 21;
        grid-row: 5 / 6;
}
.text-head-3{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 150px;
    text-align: center;
    font-size: 140px;
        justify-self: start;
        align-self: start;
        grid-column: 22 / -1;
        grid-row: 5 / 6;
}
.head h4{
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-family: Chillax-RU;
    text-transform: uppercase;
        justify-content: center;
        align-items: center;
        grid-column: 1 / -1;
        grid-row: 9 / 9;
}
.button-head{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-column: 1 / -1;
        grid-row: 10 / 10;
}
.head .url-head-1{
    margin: 10px;
    padding: 15px 25px 13px;
    border: 2px solid #fcb901;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    background: #fcb901;
    font-size: 11px;
    font-family: Chillax-RU;
    text-decoration: none;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
transition: 0.7s;
}
.head .url-head-1:hover{border: 2px solid #fff;background: none;color: #fff;transition: 0.7s;}
.head .url-head-2{
    margin: 10px;
    padding: 15px 25px 13px;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    font-family: Chillax-RU;
    text-decoration: none;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-column: 2 / 2;
        grid-row: 1 / 1;
}
.head .url-head-2:hover{border: 2px solid #fcb901;background: #fcb901;color: #1e1e1e;transition: 0.7s;}
.gradient{
    height: 500px;
    margin: 10px;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #00000063;
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    background: linear-gradient(-90deg, #1e1e1e, hsl(44deg 100% 50%), #1e1e1e);
    background-size: 350% 350%;
    animation: gradient 4s cubic-bezier(0, 0, 1, 1) infinite;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.gradient > p {
    margin: 0px 15%;
    padding: 0px;
    color: #fff;
    font-size: 42px;
    text-transform: uppercase;
    font-family: arial;
    letter-spacing: 4px;
    text-align: center;
        justify-self: center;
        align-self: center;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
}
.gradient > span {
    width: 80px;
    height: 80px;
    padding: 24px 0px;
    color: #fff;
    font-family: arial;
    font-size: 25px;
    text-align: center;
    background: #1e1e1e;
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
    bottom: 10%;
    right: 10%;
    cursor: default;
}
@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}
.video-block{
    height: 70vh;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 0px 10px 1px #00000063;
    position: relative;
}
#video2 {
    width: 100vw;
    min-height: 100%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -30%);
    position: absolute;
    z-index: -1;
}
.wrapper-about-me{
    width: 100%;
    padding: 10px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    justify-items: center;
}
.about-me{
    margin: 0px auto;
    background: #fff;
    padding: 40px;
    box-shadow: 0px 0px 10px 1px #00000063;
    border-radius: 20px;
    overflow: hidden;
}
.one-block-about-me{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
        grid-column: 1 / -1;
        grid-row: 1 / 1;
        justify-self: center;
        align-self: center;
    position: relative;
}
.video-about-me{
    width: 100%;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        justify-self: start;
        align-self: start;
    transform: scale(1 , 1);
}
#video3{
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: -1;
    transform: translate(-50%, -50%);
}
.one-block-about-me > p.about-name{
    margin: 0px;
    font-size: 150px;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        justify-self: center;
        align-self: start;
}
.one-block-about-me > p.about-text{
    margin: 0px 20px;
    font-size: 14px;
    font-family: Chillax-RU;
    text-align: justify;
    letter-spacing: 3px;
    text-transform: uppercase;
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        justify-self: center;
        align-self: end;
}
.two-block-about-me{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
        grid-column: 1 / -1;
        grid-row: 2 / 2;
        justify-self: center;
        align-self: center;
    position: relative;
}
.two-block-about-me > p.about-name{
    margin: 20px 0px;
    font-size: 150px;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
        grid-column: 1 / -1;
        grid-row: 1 / 1;
        justify-self: start;
        align-self: start;
}
.two-block-about-me > p.about-text{
    margin: 0px;
    font-size: 14px;
    font-family: Chillax-RU;
    text-align: justify;
    letter-spacing: 3px;
    text-transform: uppercase;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        justify-self: start;
        align-self: end;
}
.three-block-about-me{
    width: 100%;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 100%;
        grid-column: 1 / -1;
        grid-row: 3 / 3;
        justify-self: center;
        align-self: center;
    position: relative;
}
.three-block-about-me > p.about-text{
    font-size: 14px;
    font-family: Chillax-RU;
    text-align: justify;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.portfolio{
    margin: 10px;
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
}
.portfolio > .portfolio-video-1{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px #00000063;
    position: relative;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
}
.portfolio-video-1 > #video3 {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    object-fit: cover;
}
.portfolio > .portfolio-block-1{
    padding: 4rem;
    border-radius: 20px;
    position: relative;
    background: #fff;
    box-shadow: 0px 0px 10px 1px #00000063;
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        justify-self: start;
        align-self: start;
}
.portfolio-block-1 > .portfolio-block-1-name{
    padding-bottom: 5rem;
    font-size: 12px;
    font-family: Chillax;
    letter-spacing: 0.5px;
    font-weight: normal;
    text-transform: uppercase;
}
.portfolio-block-1 > h4{
    font-size: 4rem;
    font-family: Chillax;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
}
.portfolio-block-1 > h4 span{
    color: #fcb901;
    border-radius: 20px;
}
.portfolio-block-1 > .portfolio-block-1-text{
    font-size: 14px;
    font-family: Chillax-RU;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 1.5;
    column-count: 2;
}
.portfolio > .portfolio-blocks-wrapper{
    display: grid;
    position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
}
.portfolio > .portfolio-blocks-wrapper a{
    color: #000;
    text-decoration: none;
}
.portfolio-block-2{
    padding: 1.4rem 2.5rem;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px 1px #00000063;
    cursor: pointer;
    transition: 0.7s;
}
.video-link.active .portfolio-block-2{
    background: #fff;
}
.portfolio-block-2 > h6{
    margin: 20px 0px 0px 0px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    font-family: Chillax;
    letter-spacing: 3px;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: #fcb90100;
    text-underline-offset: 10px;
    text-transform: uppercase;
    transition: 0.7s;
}
.video-link.active, .video-link.active h6 {
    text-decoration: underline;
    text-decoration-color: #fcb901;
}
.portfolio-block-2 > .portfolio-block-text{
    width: 70%;
    font-size: 14px;
    font-family: Chillax-RU;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 1.5;
}
.portfolio-block-2 svg{
    top: 39%;
    right: 8%;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 50px;
    background: #1e1e1e;
    color: #fff;
    position: absolute;
}
.portfolio > .portfolio-block-with-video-hover{
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #00000063;
    position: relative;
    overflow: hidden;
    display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
}
#portfolio_video_1,#portfolio_video_2,#portfolio_video_3,#portfolio_video_4 {
    width: 100%;
    height: 100%;
    top: 50.1%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    object-fit: cover;
}
#portfolio-video-1,#portfolio-video-2,#portfolio-video-3,#portfolio-video-4{opacity: 0;}
.video {
  opacity: 0;
  transition: opacity 0.5s ease;
}
/* Применение класса .active к активному видео */
.video.active {
  opacity: 1;
}
.contacts{
    margin: 10px;
    padding: 3rem;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px 1px #00000063;
    background: #fcb901;
    overflow: hidden;
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
}
.contacts > p{
    padding-bottom: 1.5rem;
    font-size: 12px;
    font-family: Chillax;
    letter-spacing: 0.5px;
    font-weight: normal;
    text-transform: uppercase;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        justify-self: start;
        align-self: center;
}
.contacts > h4{
    width: 75%;
    margin: 0px;
    padding: 0px;
    font-size: 4rem;
    font-family: Chillax-RU;
    letter-spacing: 2px;
    line-height: 1;
    font-weight: normal;
    text-transform: uppercase;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        justify-self: start;
        align-self: center;
    
}
.contacts a{
    width: 120px;
    padding: 18px 20px 15px 15px;
    border-radius: 10px;
    background: #1e1e1e;
    color: #fff;
    text-transform: uppercase;
    font-family: Chillax-RU;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    position: relative;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        justify-self: end;
        align-self: end;
}
.contacts a svg{
    top: 30%;
    right: 9%;
    position: absolute;
    transition: 0.5s;
}
.contacts a:hover{background: #1e1e1e;}
.contacts a:hover svg{top: 10%;right: 2%;}
.blocks-url-link{
    margin: 10px;
    overflow: hidden;
    display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 10px;
}
.blocks-url-link > a{
    color: #fff;
    text-decoration: none;
    font-family: Chillax-RU;
    display: grid;
}
.blocks-url-link-block{
    border-radius: 20px;
    position: relative;
    padding: 9rem 2rem 2rem 2rem;
    background: #1e1e1e;
    box-shadow: 0px 0px 5px 1px #00000063;
    transition: 0.7s;
}
.blocks-url-link-block:hover{background: #2a2a2a;}
.blocks-url-link-block p:nth-child(1){
    top: 0%;
    left: 0%;
    font-size: 0px;
    text-align: center;
    position: absolute;
    transform: scale(0.3, 0.3);
}
.blocks-url-link-block p:nth-child(2){
    top: 10%;
    right: 10%;
    padding: 10px 10px;
    background: #292929;
    font-size: 0px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50px;
    position: absolute;
}
.blocks-url-link-block h5{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: lighter;
}
.blocks-url-link-block h6{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: lighter;
    line-height: 2;
}
.footer{
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    display: grid;
    background: #1e1e1e;
    overflow: hidden;
}
.footer > p{
    margin: 0px;
    color: #fff;
    font-family: Chillax-RU;
    font-size: 20px;
        justify-self: center;
        align-self: end;
}
.footer > a{
    margin: 0px;
    color: #bf8f0b;
    font-family: Chillax;
    font-size: 40px;
    text-decoration: none;
    transition: 0.7s;
        justify-self: center;
        align-self: center;
}
.footer > a:hover{color: #fff;}
.footer > .footer-powered-by{
    font-size: 11px;
    font-family: Chillax;
    letter-spacing: 4px;
    text-transform: uppercase;
        justify-self: center;
        align-self: center;
}
.footer-powered-by > a{
    color: #bf8f0b;
    text-decoration: none;
    transition: 0.7s;
}
.footer-powered-by > a:hover{color: #fff;}
/*big monitor*/
@media screen and (min-width: 1875px) {
    html body{
        width: 80%;
        margin: 0px auto;
    }
}
/*tablet adaptive*/
@media screen and (max-width: 1024px) {
    #video {
        width: 115vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -43%);
    }
    #video2 {
        width: 115vw;
        min-height: 100%;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -43%);
    }
    .text-head-1{
        font-size: 90px;
            justify-self: center;
            align-self: center;
            grid-column: 1 / -1;
            grid-row: 4 / 5;
    }
    .text-head-2{
        font-size: 110px;
            justify-self: center;
            align-self: center;
            grid-column: 3 / 25;
            grid-row: 5 / 5;
    }
    .text-head-3{
        font-size: 90px;
            justify-self: center;
            align-self: center;
            grid-column: 28 / 50;
            grid-row: 5 / 5;
    }
    .gradient > p {
        margin: 0px 10%;
        padding: 0px;
        color: #fff;
        font-size: 35px;
        font-family: arial;
        text-align: center;
            justify-self: center;
            align-self: center;
            grid-column: 1 / -1;
            grid-row: 1 / -1;
    }
    .wrapper-about-me{
        width: 100%;
        padding: 40px;
    }
    .about-me{
        margin: 0px;
        padding: 20px;
        box-sizing: border-box;
    }
    .one-block-about-me > .video-about-me{
        height: 400px;
    }
    .one-block-about-me > p.about-name{
        margin: 0px;
        font-size: 120px;
        font-family: arial;
        font-weight: 600;
        letter-spacing: 5px;
        text-transform: uppercase;
            grid-column: 2 / 2;
            grid-row: 1 / 1;
            justify-self: center;
            align-self: start;
    }
    .one-block-about-me > p.about-text{
        margin: 0px 20px;
        font-size: 13px;
        font-family: arial;
        text-align: left;
        letter-spacing: 3px;
        text-transform: uppercase;
            grid-column: 2 / 2;
            grid-row: 1 / 1;
            justify-self: center;
            align-self: end;
    }
    .two-block-about-me > p.about-name{
    margin: 0px;
    font-size: 110px;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        justify-self: start;
        align-self: start;
    }
    .two-block-about-me > p.about-text{
        margin: 20px 0px;
        font-size: 13px;
        font-family: arial;
        text-align: justify;
        letter-spacing: 3px;
        text-transform: uppercase;
            grid-column: 1 / 1;
            grid-row: 2 / 2;
            justify-self: center;
            align-self: end;
    }
    .three-block-about-me > p.about-text{
        font-size: 13px;
    }
}
/*mobile adaptive*/
@media screen and (max-width: 768px) {
    .wrapper{
        margin-top:10px;
    }
    .head img{
        width: 60px;
            grid-column: 1 / -1;
            grid-row: 1 / 1;
            justify-self: center;
            align-self: center;
    }
    .head nav{
        top: 0px;
        left: 0px;
        width: 100%;
        position: static;
        background: none;
    }
    .head nav ul{
        margin: 0px 0px;
        padding: 0px;
            grid-column: 1 / -1;
            grid-row: 2 / 2;
            justify-self: center;
            align-self: center;
    }
        .head nav li{
            text-align: center;
            padding: 5px;
        }
    #video {
        width: 115vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #video2 {
        width: 115vw;
        min-height: 100%;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -20%);
    }
    .text-head-1{
        font-size: 38px;
            justify-self: center;
            align-self: center;
            grid-column: 1 / -1;
            grid-row: 4 / 7;
    }
    .text-head-2{
        font-size: 53px;
            justify-self: end;
            align-self: center;
            grid-column: 1 / 26;
            grid-row: 5 / 8;
    }
    .text-head-3{
        font-size: 38px;
            justify-self: start;
            align-self: center;
            grid-column: 27 / -1;
            grid-row: 5 / 8;
    }
    .head .url-head-1{
        font-size: 10px;
        padding: 10px 8px;
    }
    .head .url-head-2{
        font-size: 10px;
        padding: 10px 8px;
    }
    .gradient > p {
        margin: 0px 10%;
        padding: 0px;
        color: #fff;
        font-size: 23px;
        font-family: arial;
        text-align: center;
            justify-self: center;
            align-self: center;
            grid-column: 1 / -1;
            grid-row: 1 / -1;
    }
    .gradient > span {
        width: 60px;
        height: 60px;
        padding: 15px;
        font-size: 22px;
    }
    .wrapper-about-me{
        width: 100%;
        padding: 10px;
    }
    .about-me{
        width: auto;
        margin: 0px;
        padding: 15px;
        box-shadow: 0px 0px 10px 1px #33333359;
    }
    .one-block-about-me{
        margin-top: 20px;
            grid-template-columns: 55% 45%;
    }
    .video-about-me{
        max-height: 259px;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        overflow: hidden;
        position: relative;
    }
    #video3{
        width: 115%;
        height: auto;
    }
    .one-block-about-me > p.about-name{
    margin: 10px 10px;
    font-size: 48px;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        justify-self: start;
        align-self: start;
    }
    .one-block-about-me > p.about-text{
        margin-left: 10px;
        font-size: 11px;
        font-family: arial;
        letter-spacing: 2px;
        text-align: left;
        text-transform: uppercase;
            grid-column: 2 / 2;
            grid-row: 1 / 1;
            justify-self: center;
            align-self: end;
    }
    .two-block-about-me > p.about-name{
        font-size: 48px;
        margin-top: 20px;
    }
    .two-block-about-me > p.about-text{
        margin: 20px 0px;
        font-size: 11px;
        font-family: arial;
        letter-spacing: 2px;
        text-transform: uppercase;
            grid-column: 1 / -1;
            grid-row: 2 / 2;
            justify-self: center;
            align-self: end;
    }
    .three-block-about-me{
        margin: 0px;
    }
    .three-block-about-me > p.about-text{
        margin: 20px 0px;
        font-size: 11px;
        font-family: arial;
        letter-spacing: 2px;
        text-transform: uppercase;
            grid-column: 1 / -1;
            grid-row: 2 / 2;
            justify-self: center;
            align-self: end;
    }
    .footer > p{
        font-size: 15px;
    }
    .footer > a{
        margin-top: 10px;
        font-size: 25px;
        align-self: start;
    }
}